<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="p-5">
            <picture class="login-image-container">
                <img src="img/gboard-turtle-open.png" id="login-img" alt="Gboard turtle" title="G-board turtle" class="login-image">
            </picture>
            <div class="p-5">
                <h4 class="card-title">Iniciá sesión</h4>
                <span id="error"></span>
                <form id="login-form">
                    <div>
                        <label for="login-email"></label>
                        <input type="email" id="login-email" placeholder="Correo electrónico">
                    </div>
                    <div class="mb-3">
                        <label for="login-password"></label>
                        <input type="password" id="login-password" placeholder="Contraseña">
                        <div class="text-end">
                            <a id="forgotten-password" class="form-text text-decoration-none fw-semibold">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                    <button id="login-button" class="fw-semibold btn-submit">Ingresar a la cuenta</button>
                    <div class="form-text text-center mt-3">¿No tenés una cuenta? <a href="#/registration"
                            id="register-link" class="form-text text-decoration-none fw-semibold">Registrate</a>
                    </div>
                </form>
                <div class="mt-3 line-separator"></div>
                <div class="login-alternative-container mt-5">
                    <button><i class="fa-brands fa-google"></i></button>
                    <button><i class="fa-brands fa-facebook-f"></i></button>
                </div>
                <p class="form-text text-center mt-4">Entrá con Google o Facebook</p>
            </div>
        </div>
    </div>
</div>